<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" href="{{ "/assets/favicon.png" | prepend: site.baseurl }}">

  {% feed_meta %}

  <meta http-equiv="Content-Language" content="{{site.active_lang}}" />
{% for lang in site.languages %}
{% if lang == site.default_lang or lang == '_' %}
  {% continue %}
{% endif %}
  {% if site.baseurl == '' %}
  <link rel="alternate" hreflang="{{lang}}" href="/{{ lang }}{{ page.permalink }}" />
  {% endif %}
{% endfor %}
</head>
